 :root{
  --mobile-width: 23.4375em;
  --tablet-width: 37.5em;
  --desktop-width: 66.5em;


  --clr-primary-lime: hsl(61, 70%, 52%);
  --clr-primary-lime-hover: hsl(61, 70%, 76%);
  --clr-primary-red: hsl(4, 69%, 50%);

  --clr-primary-lime-input-hover:#F9FAE0;
  
  --clr-neutral-white: hsl(0, 0%, 100%);
  
  --clr-slate-100: hsl(202, 86%, 94%);
  --clr-slate-300: hsl(203, 41%, 72%);
  --clr-slate-500: hsl(200, 26%, 54%);
  --clr-slate-700: hsl(200, 24%, 40%);
  --clr-slate-900: hsl(202, 55%, 16%);
  
  --ff-jakarta: "Plus Jakarta Sans", sans-serif;
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.5rem;
  --fs-700: 2.5rem;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url(./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf), 
        url(./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf),
        url(./assets/fonts/static/PlusJakartaSans-Bold.ttf),
        url(./assets/fonts/static/PlusJakartaSans-Medium.ttf);
}
/* Reset */

*, *::before, *::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
label,
figure {
  margin: 0;
}

label{
  display: block;
}

h2{
  color:var(--clr-neutral-white);
  font-size: var(--fs-600);
}


ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* utitlity classes */

.flow-content > * + *{
  margin-top: var(--spacer, 1em);
}

.show{
  display: block;
}

.hide{
  display: none;
}

.fxs-spacer{
  --spacer: 0.75rem;
}

.xs-spacer{
  --spacer: 0.5em;
}

.l-spacer{
  --spacer: 2em;
}

.split{
  display: flex;
}

.vertical-split {
  flex-direction: column;
}

.border-radius-left{
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}


.border-radius-right{
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

/* general styling */

input[type="radio"]{
  min-width: 2rem;
  height: 1.2rem;
}

input{
  border: none;
  min-width: 0rem;
  cursor: pointer;
}

input:focus{
  outline: none;
}

fieldset{
  border:none;
  padding: 0;
  margin:0;
}

button{
  border:none;
  color: inherit;
  cursor: pointer;

}

h1{
  font-size:var(--fs-600);
  color:var(--clr-slate-900);
  font-weight: var(--fw-700);
  line-height: 1.25;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

hr{
  margin-top:2rem !important; 
  margin-bottom: 2rem;
}


body{
  font-family: var(--ff-jakarta);
  font-size: var(--fs-400);
  background-color: var(--clr-slate-100);
}

.title button{
  background-color: transparent;
  padding:0;
  text-decoration: underline;
}

.container{
  background-color: var(--clr-neutral-white);
  max-width: 63rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
} 

.inner-container{
  padding: 2rem 1.5rem;
  flex-basis: 100%;
  min-width: 0;
}

.calculator{
  background-color: var(--clr-neutral-white);
  color:var(--clr-slate-700);
}


@media (min-width: 37.5em) {
  
  body{
    padding: 2em;
  }

  .container{
    border-radius: 1.5rem;
    max-width: 43rem;
  }

  .inner-container{
    padding: 2.5rem;
    
  } 
 
  .calculator{
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
  }
}

@media (min-width: 66.5em){
  body{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }


  .container{
    flex-direction: row;
    max-width: 63rem;

  }
  
  .calculator{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
 

.calculator .title{
  flex-direction: column;
  align-items: start;
}

.input-container{
  border:1px solid var(--clr-slate-500);
  border-radius: 0.5rem;
  font-size: var(--fs-500);
}

.input-split{
  flex-direction: column;
  gap: 2rem;
}

.input-split > * {
  min-width: 0;
}

.input-container input{
  padding: 0.6em 0.8em;
  flex-grow: 1;
}

.input-container > p {
  display: inline-block;
  padding: 0.6em 0.8em;
  background-color: var(--clr-slate-100);
  font-weight: var(--fw-500);
}

.radio-btn{
  padding-block: 0.6em;
  font-weight: var(--fw-500);
  color: var(--clr-slate-900);
}

.calculate-btn{
  background-color: var(--clr-primary-lime);
  width: 100%;
  padding: 1em 0.5em;
  border-radius: 10rem;
  font-size:var(--fs-500);
  font-weight: var(--fw-600);
  color:var(--clr-slate-900);
}

.calculate-btn > span{
  position: relative;
}

.calculate-btn > span::before{
  content: url(/assets/images/icon-calculator.svg);
  position: absolute;
  left: -2.5rem;
}

@media (min-width: 37.5em) {



  .calculate-btn{
    width: 20rem;
  }

  .calculator .title{
    flex-direction: row;
    justify-content: space-between;
  }

  .input-split{
    flex-direction: row;
  }

  .clr-btn:hover, 
  .clr-btn:focus{
    color:var(--clr-slate-900);
  }

  .calculate-btn:hover,
  .calculate-btn:focus{
    background  : var(--clr-primary-lime-hover);
  }

  .input-container:hover{
    border:1px solid var(--clr-slate-900);
  }

  .input-container:has(input:focus),
  .input-container:has(input[type="radio"]):hover{
    border: 1px solid var(--clr-primary-lime);
  }
  
  .input-container:has(input[type="radio"]:focus){
    background-color: var(--clr-primary-lime-input-hover);
  }

  .inputtext:has(+ input:focus),
  input:focus + .inputtext{
    background-color: var(--clr-primary-lime);
  }
}

.error-container .inputtext{
  background-color: var(--clr-primary-red);
  color:var(--clr-neutral-white);
}

.error-container{
  border: 1px solid var(--clr-primary-red);
}

.error-message{
  color: var(--clr-primary-red);
  font-size: var(--fs-300);
}


.result{
  background-color: var(--clr-slate-900);
  color: var(--clr-slate-300);
  display: flex;
  align-items: center;
  flex-basis: 100%;
  min-width: 0;
}

@media(min-width: 37.5em){
  .result{
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;  
  }
}

@media (min-width: 66.5em){
  .result{
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 0;  

  }
}

.before-result{
  text-align: center;
}

.result img{
  width: 12rem;
  margin-inline: auto;
}

.result-card{
  padding-top:4px;
}

.inner-card{
  border-top: 4px solid var(--clr-primary-lime);
  background-color: rgba(0, 0, 0, 0.25);
  padding: 1.5em 1em;
  border-radius: 4px;
}

.monthly-result{
  font-size: var(--fs-700);
  color: var(--clr-primary-lime);
  font-weight: var(--fw-600);
}

.total-pending{
  color: var(--clr-neutral-white);
  font-weight: var(--fw-600);
  font-size: var(--fs-600);
}
